<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Pay My Buddy - Send Money</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">
            <img class="col-md-4" th:src="@{/PayMyBuddyLogo.png}" alt="PayMyBuddyLogo"/>
        </a>
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/transfer">Transfer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log off</a>
            </li>
        </ul>
    </div>
</nav>
<div class="card-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item"><a href="/transfer">Transfer</a></li>
            <li class="breadcrumb-item active" aria-current="page">Send Money</li>
        </ol>
    </nav>
</div>
<div class="container mt-2">
    <div class="row col-md-8 offset-md-2">
        <div th:if="${errorMessage}">
            <div class="alert alert-danger">
                <span th:text="${errorMessage}"></span>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="mt-1 text-center card-title">Send Money</h5>
                <div class="card mb-2">
                    <div class="card-header">
                        💰 My Balance
                        <div class="float-end">
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span th:text="${#numbers.formatDecimal(user.balance,1,2)}"></span>
                            <span>€</span>
                        </li>
                    </ul>
                </div>
                <h5 class="mt-1 text-center card-title">To</h5>
                <form
                        method="post"
                        role="form"
                        th:action="@{/sendMoney(email=${receiverUser.email})}"
                >
                    <div class="form-group mb-1">
                        <div class="card mb-2">
                            <div class="card-header">
                                📧 Email
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" th:text="${receiverUser.email}"></li>
                            </ul>
                        </div>
                        <div class="card mb-2">
                            <div class="card-header">
                                👤 Name
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" th:text="${receiverUser.name}"></li>
                            </ul>
                        </div>
                        <div class="form-group mb-1">
                            <input
                                    class="form-control"
                                    id="amount"
                                    name="amount"
                                    type="number"
                                    placeholder="🔢 Amount to transfer"
                                    min="0"
                                    step="0.01"
                                    required
                                    autofocus
                            />
                        </div>
                        <div class="form-group mb-1">
                            <textarea
                                    class="form-control"
                                    id="description"
                                    name="description"
                                    type="text"
                                    placeholder="🔠 Description of the transaction"
                                    rows="5"
                                    cols="33"
                                    maxlength="500"
                                    required
                            /></textarea>
                        </div>
                        <div class="text-center mt-2">
                            <button type="submit" class="btn btn-outline-success btn-sm" >Confirm ✅</button>
                            <a class="btn btn-outline-danger btn-sm" th:href="@{/contact}">Go back ❌</a>
                            <div class="text-center"> You will be charged a fee of 0.5% of the amount </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>