<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Pay My Buddy - Transfer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">
            <img class="col-md-4" th:src="@{/PayMyBuddyLogo.png}" alt="PayMyBuddyLogo"/>
        </a>
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Transfer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log off</a>
            </li>
        </ul>
    </div>
</nav>
<div class="card-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Transfer</li>
        </ol>
    </nav>
</div>
<div class="container mt-2">
    <div class="row col-md-10 offset-md-1">

        <div th:if="${param.success}">
            <div class="alert alert-info">
                You have successfully sent your transaction!
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="mt-2">
                    <h5 class="mt-1 card-title">My Transactions
                        <a class="float-end btn btn-primary" href="/addConnection">Add Connection</a>
                    </h5>
                </div>
                <div class="mt-4 border border-dark">
                    <table class="table table-striped mb-0">
                        <thead class="table-success">
                        <tr>
                            <th>Connections</th> <th>Description</th> <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="t:${transactions}">
                            <td th:text="${t.connections.name}"></td>
                            <td th:text="${t.description}"></td>
                            <td>
                                <span th:text="${t.amount}"></span>
                                <span>€</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Transactions result pages">
                    <ul class="pagination justify-content-center mt-1">
                        <li th:class="${0==transactions.number ? 'page-item disabled':'page-item'}">
                            <a class="page-link" th:href="@{/transfer(size=${transactions.size}, page=${transactions.number})}"
                               th:class="${pageNumber==transactions.number + 1 ? 'btn btn-primary':'page-link'}"aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:each="pageNumber:${pageNumbers}">
                            <a th:href="@{/transfer(size=${transactions.size}, page=${pageNumber})}"
                               th:text=${pageNumber}
                               th:class="${pageNumber==transactions.number + 1 ? 'btn btn-primary':'page-link'}"></a>
                        </li>
                        <li th:class="${transactions.totalPages==transactions.number + 1 ? 'page-item disabled':'page-item'}">
                            <a class="page-link" th:href="@{/transfer(size=${transactions.size}, page=${transactions.number + 2})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>